<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let id = index" [routerLink]="['/products', product.id]">
      <td>{{ id + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency: 'USD': true: '1.0-3' }}</td>
      <td>{{ product.status ? "Active" : "Deactivate" }}</td>
    </tr>
  </tbody>
</table>
