<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Template Driven Form</h3>
    </div>
    <div class="panel-body">
      <form
        #formUser="ngForm"
        (ngSubmit)="onSubmitForm(formUser)"
        autocomplete="false"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="txtUsername"
            id="username"
            minlength="3"
            maxlength="20"
            required="required"
            pattern=""
            placeholder="Enter username"
            [(ngModel)]="user.username"
            #username="ngModel"
          />
          <span
            class="label label-danger"
            *ngIf="username.dirty && username.errors?.required"
            >Username error</span
          >
          <span class="label label-danger" *ngIf="username.errors?.minlength"
            >Username greater than 3 characters</span
          >
          <span class="label label-danger" *ngIf="username.errors?.maxlength"
            >Username less than 20 characters</span
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="txtPassword"
            id="password"
            required="required"
            placeholder="Enter password"
            [(ngModel)]="user.password"
            #password
          />
        </div>
        <div class="form-group">
          <label for="fullname">Fullname: </label>
          <input
            type="text"
            class="form-control"
            name="txtFullname"
            id="fullname"
            required="required"
            minlength="5"
            maxlength="20"
            placeholder="Enter fullname"
            [(ngModel)]="user.fullname"
            #fullname="ngModel"
          />
          <span
            class="label label-danger"
            *ngIf="fullname.dirty && fullname.errors?.required"
            >Fullname error</span
          >
          <span class="label label-danger" *ngIf="fullname.errors?.minlength"
            >Fullname greater than 5 characters</span
          >
          <span class="label label-danger" *ngIf="fullname.errors?.maxlength"
            >Fullname less than 20 characters</span
          >
        </div>
        <div ngModelGroup="contact">
          <div class="form-group">
            <label for="email">Email: </label>
            <input
              type="text"
              class="form-control"
              name="txtEmail"
              id="email"
              required="required"
              placeholder="Enter email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              [(ngModel)]="user.email"
              #email="ngModel"
            />
            <span
              class="label label-danger"
              *ngIf="email.dirty && email.errors?.pattern"
              >Email error</span
            >
          </div>
          <div class="form-group">
            <label for="phone">Phone: </label>
            <input
              type="number"
              class="form-control"
              name="txtPhone"
              id="phone"
              required="required"
              placeholder="Enter phone"
              [(ngModel)]="user.phone"
              #phone
            />
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>&nbsp;
        <button
          type="button"
          class="btn btn-danger"
          (click)="onResetForm(formUser)"
        >
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
