<div class="container" [style.margin-top.px]="30">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
          <ng-container *ngIf="isShow">
            <app-lifecycle-hook [total]="total"></app-lifecycle-hook>
          </ng-container>
          <button type="button" class="btn btn-primary" (click)="onToggle()">
            Toggle
          </button>
          <hr />

          <label for="numberOne">Number one:</label>
          <input
            type="number"
            id="numberOne"
            class="form-control"
            required="required"
            [(ngModel)]="a"
          />
          <label for="numberTow">Number tow:</label>
          <input
            type="number"
            id="numberTow"
            class="form-control"
            required="required"
            [(ngModel)]="b"
          />

          <button
            type="button"
            class="btn btn-success"
            [style.margin-top.px]="10"
            (click)="onAmount()"
          >
            Total
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
          <app-other-lifecycle>
            <h1 #value>Value: {{ content }}</h1>
          </app-other-lifecycle>

          <input type="text" class="form-control" required="required" #text />

          <button
            type="button"
            class="btn btn-danger"
            [style.margin-top.px]="10"
            (click)="onClick(text.value)"
          >
            Click me!!
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">ngAfterView - ngAfterViewChecked</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group" #arrProductsAfter>
            <li
              class="list-group-item"
              *ngFor="let product of products; let id = index"
            >
              {{ id + 1 }} - {{ product.name }}
            </li>
          </ul>

          <input
            type="text"
            class="form-control"
            required="required"
            #product
          />

          <button
            type="button"
            class="btn btn-success"
            [style.margin-top.px]="10"
            (click)="onAddProduct(product.value)"
          >
            Add product
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
