<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Data Driven Form</h3>
    </div>
    <div class="panel-body">
      <form
        [formGroup]="frmUser"
        (ngSubmit)="onSubmitForm()"
        autocomplete="false"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="txtUsername"
            id="username"
            formControlName="username"
          />

          <span
            class="label label-danger"
            *ngIf="
              frmUser.controls.username.dirty &&
              frmUser.controls.username.errors?.required
            "
          >
            Username warning
          </span>
          <span
            class="label label-danger"
            *ngIf="
              frmUser.controls.username.dirty &&
              frmUser.controls.username.errors?.minlength
            "
          >
            Username minLength
          </span>
          <span
            class="label label-danger"
            *ngIf="
              frmUser.controls.username.dirty &&
              frmUser.controls.username.errors?.maxlength
            "
          >
            Username maxLength
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="txtPassword"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="form-group">
          <label for="fullname">Fullname: </label>
          <input
            type="text"
            class="form-control"
            name="txtFullname"
            id="fullname"
            formControlName="fullname"
          />
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input
            type="text"
            class="form-control"
            name="txtEmail"
            id="email"
            formControlName="email"
          />
          <span
            class="label label-danger"
            *ngIf="
              frmUser.controls.email.dirty &&
              frmUser.controls.email.errors?.pattern
            "
          >
            Email warning
          </span>
        </div>
        <div class="form-group">
          <label for="phone">Phone: </label>
          <input
            type="number"
            class="form-control"
            name="txtPhone"
            id="phone"
            formControlName="phone"
          />
        </div>

        <button
          [disabled]="frmUser.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Save</button
        >&nbsp;
        <button type="button" class="btn btn-danger" (click)="onResetForm()">
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
