<ng-container *ngIf="product; else noProduct">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name| capitalize }}</td>
        <td>{{ product.price | currency: "USD":true:"1.0-3" }}</td>
        <td>{{ product.status ? "Active" : "Deactivate" }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #noProduct>
  <h2>This is product has been deleted</h2>
</ng-template>

<button type="button" class="btn btn-success" (click)="onEdit()">Edit</button>&nbsp;
<button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>&nbsp;
<button type="button" class="btn btn-default" (click)="onBackToList()">
  Back to list
</button>
